body {
    background-color: rgb(94, 174, 253);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.title {
    display:flex;
    justify-content: center;
    color:white;
}
#main-div {
    display: flex;
    flex-wrap: wrap;
    max-height: fit-content;
    /* max-width: fit-content; */
}
#canvas-div {
    display:flex;
    justify-content: center;
    /* border: darkgray solid 10px; */
    /* max-width: fit-content; */
    /* max-height: auto; */
    margin: 0px auto;
    box-shadow: 6px 6px 5px 1px;

}
#tool-div {
    background-color: white;
    padding: 5px;
    border: darkgray solid 10px;
    box-shadow: 6px 6px 5px 1px;
    opacity: 0.9;
}
#color-selector-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tool-selector-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#width-selector-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-controls {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#res-heading {
    text-align: center;
}
.slide-container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}
.slider {
    z-index: 0;
}
button {
    background-color:darkgray;
    color:white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 6px 6px 5px 1px black;
    opacity : 0.8;
}
.file-operations {
    justify-content: flex-start;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
#tools {
    color: rgb(94, 174, 253);;
}
